* {
  box-sizing: border-box;
}
.contenitore {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}
.contenitore ul {
  display: flex;
}
.contenitore img {
  margin-left: 55px;
}
.contenitore ul li a {
  text-decoration: none;
  color: black;
}
.contenitore ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.lista {
  display: flex;
  margin-right: 70px;
}
